<div fxLayout="row" fxLayoutAlign="start start" style="width: 100%; height: calc(100vh - 60px)">
  
  
  <div fxFlex style="width: 100%; height: 100%">
    <mat-toolbar class="sticky-header" style="height: 45px">
      <span style="font-size: smaller">
        Liste des locaux</span>
      <span fxFlex></span>
      <mat-paginator [length]="dataSource?.count" [pageSize]="100" [pageSizeOptions]="[25, 50, 100]"
        showFirstLastButtons>
      </mat-paginator>
      <button mat-icon-button matTooltip="Actualiser la liste" (click)="this.search$.next()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>


    <div fxLayout="column" style="height: calc(100vh - 105px); overflow: auto">
      <div fxFlex fxLayout="column" class="sticky-header-container">
        <table mat-table [dataSource]="dataSource.data" class="hoverable w-100">
          <ng-container matColumnDef="codeRef">
            <th mat-header-cell *matHeaderCellDef>Code Reference Auda</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.codeRef || "-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="nomLocal">
            <th mat-header-cell *matHeaderCellDef>Nom du local</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.nomLocal ||"-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="numTitreFoncierLocal">
            <th mat-header-cell *matHeaderCellDef>Numéro titre foncier local</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.numTitreFoncierLocal ||"-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="numTitreFoncierMere">
            <th mat-header-cell *matHeaderCellDef>Numéro titre foncier mère</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.numTitreFoncierMere ||"-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="tentiemeImmeuble">
            <th mat-header-cell *matHeaderCellDef>Tentième immeuble</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.tentiemeImmeuble ||"-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="tentiemeResidence">
            <th mat-header-cell *matHeaderCellDef>Tentième résidence</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.tentiemeResidence ||"-" }}
            </td>
          </ng-container>
         

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="hey()"></tr>
        </table>


        <div class="p-3" fxLayout="row" fxLayoutAlign="center center" style="height: 100%">
          <ng-container *ngIf="!isLoading; else loadingTemplate">
            <ng-container *ngIf="error; else emptyTemplate">
              <mat-error>{{ error }}</mat-error>
            </ng-container>
            <ng-template #emptyTemplate>
              <p *ngIf="dataSource?.count === 0">Aucune element .</p>
            </ng-template>
          </ng-container>
          <ng-template #loadingTemplate>
            <mat-spinner mode="indeterminate" [diameter]="32"> </mat-spinner>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
