<div fxLayout="row wrap" fxLayoutAlign="space-around center"  >
<mat-form-field appearance="outline">
    <mat-label>Informations sur le candidat</mat-label>
    <input matInput placeholder="Nom de la socièté">
 
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Numéro de registre du commerce</mat-label>
    <input matInput placeholder="Numéro de registre du commerce">
 
  </mat-form-field>



<mat-form-field appearance="outline">
    <mat-label>Nom du gérant </mat-label>
    <input matInput placeholder="Nom du gérant">
 
  </mat-form-field>



<mat-form-field appearance="outline">
    <mat-label>ICE</mat-label>
    <input matInput placeholder="ICE">
 
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Numéro CIN gérant</mat-label>
      <input matInput placeholder="Numéro CIN gérant">
   
    </mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Adresse</mat-label>
    <input matInput placeholder="Adresse">
 
  </mat-form-field>


<mat-form-field appearance="outline">
    <mat-label>Entrez votre email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
  </mat-form-field>

</div>