    <mat-form-field appearance="outline">
        <mat-label>Surface RDC</mat-label>
        <input matInput placeholder="Surface RDC" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Surface R+1</mat-label>
        <input matInput placeholder="Surface R1" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Surface reserve</mat-label>
        <input matInput placeholder="Surface reserve" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Surface terasse</mat-label>
        <input matInput placeholder="Surface terasse" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>accés direct parking </mat-label>
        <input matInput placeholder="accés direct parking" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hauteur sous dalle </mat-label>
        <input matInput placeholder="Hauteur sous dalle" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Profondeur moyenne </mat-label>
        <input matInput placeholder="Profondeur moyenne " type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre de facades </mat-label>
        <input matInput placeholder="Nombre facade" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Total linéaire facade</mat-label>
        <input matInput placeholder="total linéaire facade" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Largeur voie </mat-label>
        <input matInput placeholder="largeur voie" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>charge utile souhaitée </mat-label>
        <input matInput placeholder="charge utile souhaitée " type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Puissance souhaitée</mat-label>
        <input matInput placeholder="Puissance souhaitée" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>destination immeuble</mat-label>
        <input matInput placeholder="destination immeuble " type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gaine vers toiture</mat-label>
        <input matInput placeholder="Gaine vers toiture" type="number" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Précedent </button>

        <button mat-button matStepperNext>Suivant</button>
      </div>